body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

a.active{ /* selection on the same element */
    color: rgb(127, 73, 242) 
}

a:not(.active){
    color:rgb(253, 253, 15)
}

.main-section {
    height: 800px;
    border: 1px solid #ccc;
    padding: 16px;
}

.highlighted{
    border: 3px solid #fa923f;
}
